* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto", sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

body {
  background-color: rgb(27, 27, 27);
  color: white;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #1f2937;
  width: 550px;
  height: 700px;
  padding: 50px;
  border-radius: 8px;
}

.initial-text {
  margin-top: 50px;
  margin-bottom: 10px;
}

.line {
  display: block;
}

h1 {
  font-size: 32px;
}

.subhead-text {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 200;
  color: #d5d4d8;
}

.h1-green {
  color: #4adf86;
}

#generate-button {
  border: none;
  font-size: 16px;
  padding: 9px 15px;
  border-radius: 4px;
  margin-top: 56px;
  background-color: #10B981;
  color: white;
  cursor: pointer;
}
#generate-button:active {
  background-color: #0b7954;
}

.divider-line {
  background-color: #2f3e53;
  height: 1px;
  margin: 48px 0;
}

#password-input {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 16px;
  background-color: #273549;
  color: #eaeaea;
  height: 39px;
  border-radius: 4px;
  padding: 0 20px;
  letter-spacing: 1px;
}

.material-icons {
  color: #595959;
  font-size: 16px;
  padding: 3px;
  user-select: none;
}

.material-icons.enable {
  color: #55f991;
  cursor: pointer;
}

.material-icons.enable:active {
  color: #327434;
}

#password-text {
  flex-grow: 1;
  text-align: center;
  user-select: none;
}

.tooltip {
  position: absolute;
  top: -25px;
  left: 58%;
  transform: translateX(190%);
  background-color: #107bb9;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 6px 8px;
  font-size: 12px;
  visibility: hidden;
}

.options {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.checkbox-letters,.checkbox-numbers {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 15px;
}

.settings {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
  gap: 50px;
}

.slider {
  display: flex;
  flex-direction: column;
  width: 170px;
}

.slider-text {
  margin-bottom: 16px;
}

#length-display {
  font-size: 18px;
  padding: 6px;
  background-color: #2f3e53;
  border-radius: 4px;
  color: #4adf86;
  margin-left: 4px;
}

.feedback {
  margin: 10px 0 16px 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#password-strength {
  font-size: 13px;
  font-weight: 200;
  color: #d5d4d8;
}

#password-strength-bar {

  height: 6px;
  background-color: #dddddd;
  margin-top: 10px;
  border-radius: 2px;
}